.footer {
  text-align: center;
  background-color: rgb(144, 212, 197);
  color: red;
  padding: 4em 0;

  img {
    display: inline;
    filter: invert(62%) sepia(57%) saturate(437%) hue-rotate(118deg) brightness(77%) contrast(88%);
    margin-bottom: 2em;
  }

  &-company {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5.25em;

    a {
      color: var(--clr-dark-mod-cyan);
      text-decoration: none;
      font-size: 1em;
    }
  }

  &-socialmedia {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    a {
      color: var(--clr-dark-mod-cyan);
      text-decoration: none;
      font-size: 1.3em;
    }
  }
}
