@use "../abstracts/" as *;

.graphic-design,
.photography {
  width: 100%;
  color: var(--clr-dark-des-cyan);
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  &-content {
    position: absolute;
    bottom: 64px;

    @include mq(small) {
      bottom: 24px;
    }

    @include mq(medium) {
      bottom: 84px;
    }

    h2 {
      font-family: var(--second-font-family);
      font-size: 1.8em;
      font-weight: 900;
      text-align: center;
      margin-bottom: 1em;

      @include mq(small) {
        margin-bottom: 0.2em;
      }

      @include mq(medium) {
        margin-bottom: 0.6em;
      }
    }

    p {
      font-family: var(--main-font-family);
      font-size: 0.98em;
    }
  }
}

.photography {
  color: var(--clr-dark-blue);
}

.context-graphic {
  @include mq(small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
