.graphic-design,
.photography {
  width: 100%;
  color: var(--clr-dark-des-cyan);
  position: relative;
  text-align: center;

  &-content {
    position: absolute;
    bottom: 64px;

    h2 {
      font-family: var(--second-font-family);
      font-size: 1.9em;
      font-weight: 900;
      text-align: center;
      margin-bottom: 1em;
    }

    p {
      font-family: var(--main-font-family);
      font-size: 0.98em;
    }
  }
}

.photography {
  color: var(--clr-dark-blue);
}
