@use "../abstracts/" as *;

.main-header {
  width: 100%;
  padding: 2em 0;
  background-color: transparent;
  position: relative;
  z-index: 1;

  @include mq(small) {
    padding: 2em 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-check {
    display: none;
    &:checked {
      ~ .menu-check-hamburguer > .menu-hamburguer {
        &::before {
          transform: rotate(45deg) translate(5px, 4px);
        }
        &::after {
          transform: rotate(-45deg) translate(5px, -5px);
        }
        .bar {
          opacity: 0;
          visibility: hidden;
        }
      }

      ~ .menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  .menu {
    width: calc(100% - 3em);
    position: absolute;
    top: 100%;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    margin-top: 1em;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 500ms ease;

    a {
      text-decoration: none;
      text-align: center;
    }

    a:not(:last-child) {
      padding: 0.7em;
      color: var(--clr-grayish-blue-normal);
      font-size: 1.2em;

      @include mq(small) {
        color: var(--clr-white);
        padding: 0;
        margin: 0 1em;
      }
    }

    a:last-child {
      width: 140px;
      margin: 0 auto;
      color: var(--clr-des-blue);
      margin-top: 1em;
      padding: 0.7em;
      border-radius: 30px;
      background-color: var(--clr-yellow);
      text-transform: uppercase;
      font-family: var(--second-font-family);

      @include mq(small) {
        margin: 0;
        background-color: var(--clr-white);
        transition: color 400ms ease, background-color 400ms ease;

        &:hover {
          background-color: rgba(#fff, 0.2);
          color: var(--clr-white);
        }
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
      width: 0;
      height: 0;
      border-right: 12px solid transparent;
      border-top: 12px solid transparent;
      border-left: 12px solid var(--clr-white);
      border-bottom: 12px solid var(--clr-white);
      transform: rotate(270deg);

      @include mq(small) {
        display: none;
      }
    }

    @include mq(small) {
      opacity: 1;
      visibility: visible;
      position: initial;
      flex-direction: row;
      height: max-content;
      width: max-content;
      margin: 0;
      background-color: transparent;
      transform: translateX(0);
    }
  }

  .menu-check-hamburguer {
    @include mq(small) {
      display: none;
    }
  }
}

.menu-hamburguer {
  display: block;
  background-color: transparent;
  width: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;

  &::before,
  &::after {
    content: "";
    width: 90%;
  }

  .bar,
  &::before,
  &::after {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: var(--clr-white);
    transition: all 0.15s ease-out;
  }

  //Si se usara JS usariamos is-active En este caso solo usaremos checkbox
  &.is-active::before {
    transform: rotate(45deg) translate(5px, 4px);
  }

  &.is-active::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  &.is-active > .bar {
    opacity: 0;
    visibility: hidden;
  }

  @include mq(small) {
    display: none;
  }
}
