@use "../abstracts/" as *;

.main-header {
  width: 100%;
  padding: 2em 0;
  background-color: transparent;
  position: relative;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    width: calc(100% - 3em);
    position: absolute;
    top: 100%;
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-white);
    margin-top: 1em;

    a {
      text-decoration: none;
      text-align: center;
    }

    a:not(:last-child) {
      padding: 0.7em;
      color: var(--clr-grayish-blue-normal);
      font-size: 1.2em;
    }

    a:last-child {
      width: 140px;
      margin: 0 auto;
      color: var(--clr-des-blue);
      margin-top: 1em;
      padding: 0.7em;
      border-radius: 30px;
      background-color: var(--clr-yellow);
      text-transform: uppercase;
      font-family: var(--second-font-family);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
      width: 0;
      height: 0;
      border-right: 12px solid transparent;
      border-top: 12px solid transparent;
      border-left: 12px solid var(--clr-white);
      border-bottom: 12px solid var(--clr-white);
      transform: rotate(270deg);
    }
  }
}

.menu-hamburguer {
  display: block;
  background-color: transparent;
  width: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease-in;

  &::before,
  &::after {
    content: "";
    width: 90%;
  }

  .bar,
  &::before,
  &::after {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: var(--clr-white);
    transition: all 0.15s ease-out;
  }

  &.is-active::before {
    transform: rotate(45deg) translate(5px, 4px);
  }

  &.is-active::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  &.is-active > .bar {
    opacity: 0;
    visibility: hidden;
  }

  @include mq(medium) {
    display: none;
  }
}
