@use "../abstracts/" as *;

.transform-brand,
.stand-audience {
  width: 100%;
  text-align: center;
  color: var(--clr-des-blue);

  img {
    width: 100%;
  }

  &-content {
    padding: 4em 0;

    :is(h2, p) {
      margin-bottom: 1.6rem;
    }

    h2 {
      font-family: var(--second-font-family);
      font-size: 2.1em;
      font-weight: 900;
      line-height: 1.2;
    }

    p {
      color: var(--clr-grayish-blue-normal);
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.1em;
      font-family: var(--second-font-family);
      font-weight: 900;
      background: linear-gradient(var(--clr-white) 60%, rgba(#fad400, 0.6) 40%);
      padding: 0.2em 0.6em;
      color: var(--clr-des-blue);
    }

    @include mq(small) {
      padding: 0;
    }
  }

  @include mq(small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }
}

.transform-brand {
  @include mq(small) {
    grid-template-areas: "text image";
    &-content {
      grid-area: text;
    }
  }
}

.stand-audience {
  &-content {
    a {
      background: linear-gradient(var(--clr-white) 60%, rgba(#fe7867, 0.6) 40%);
    }
  }
}
