$variables: (
  //primary
  clr-softred: hsl(7, 99%, 70%),
  clr-yellow: hsl(51, 100%, 49%),
  clr-dark-blue: hsl(198, 62%, 26%),
  clr-dark-des-cyan: hsl(167, 40%, 24%),
  clr-dark-mod-cyan: hsl(168, 34%, 41%),
  //neutral
  clr-des-blue: hsl(212, 27%, 19%),
  clr-grayish-blue-hard: hsl(213, 9%, 39%),
  clr-grayish-blue-normal: hsl(232, 10%, 55%),
  clr-grayish-blue: hsl(210, 4%, 67%),
  clr-white: hsl(0, 0%, 100%),
  main-font-family: "Barlow",
  second-font-family: "Fraunces",
  main-font-size: 16px
);
